.custom-forget-password-link a{
    width: 30% !important;
}

.custom-forget-password-link a span{
    width: 100% !important;
}

.custom-sign-link a{
    width: 20% !important;
}

.custom-sign-link a span{
    width: 100% !important;
}
